* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(204, 204, 209);    gap: 30px;    padding-bottom: 250px;
}

h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#spinbutton {
    padding: 12px 30px;
    font-size: 18px;
    background-color: #465463;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#spinbutton:hover {
    background-color: #0056b3;
}

#spinbutton:active {
    background-color: #004085;
}
